html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

header {
  background-color: #ffe500;
}

h1 {
  font-size: 3rem;
  font-family: 'Sigmar One', sans-serif;
  color: #b20953;
}

h2 {
  font-size: 1.875rem;
  font-family: 'Sigmar One', sans-serif;
  color: #b20953;
}

.nav a {
  display: inline-block;
  padding: 0.5em 0.75em;
  background-color:
  border-radius
  text-decoration: none;
}

li {
  font-size: 1.125rem;
}

.nav a:hover {
  background-color: #cc1465;
}

.nav .current {
  background-color:
}

.nav {
  margin: .3em;
  padding: .2em .5em .3em;
  list-style-type: none;
}

.nav li {
  display: inline-block;
  margin: .3em;
  max-width: inherit;
  padding: .2em .5em .3em;
  background-color: #b2a212;
  border: 3px solid #b2a212;
  border-radius: 4px;
}

p {
  color: #2f2d13;
}

footer {
  background-color: #ffe500;
  font-size: .75rem;
}
