html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
  margin: -1rem 0;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

header {
  background-color: #ffe500;
  margin: -1rem;
}

h1 {
  font-size: 3rem;
  font-family: "Sigmar One", sans-serif;
  color: #b20953;
  text-align: center;
  padding: .75em;
  padding-top: 0;
  padding-bottom: 0;
}

h2 {
  font-size: 1.875rem;
  font-family: "Sigmar One", sans-serif;
  color: #b20953;
  padding: .5em;
  margin-bottom: -.05em;
}

.nav a {
  display: inline-block;
  padding: .25em;
  text-decoration: none;
  color: white;
}

li {
  font-size: 1.125rem;
}

.nav li:hover {
  background-color: #cc1465;
  color: white;
}

.nav a:hover {
  background-color: #cc1465;
  color: white;
  border-radius: 4px;
}

.nav .current {
  background-color: #b20953;
  border: .1px solid #b20953;
  border-radius: 4px;
}

.nav {
  margin: .3em;
  margin-top: -2rem;
  padding: .2em .5em .3em;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
}

.nav li {
  display: inline-block;
  margin: 0;
  max-width: 400px;
  padding: 0;
  background-color: #b2a212;
  border: .1px solid #b2a212;
  border-radius: 4px;
}

.text {
  padding-bottom: 1em;
  margin: 1em;
}

body {
  margin: 0;
}

img {
  display: block;
  text-align: left;
  width: 100%;
}

p {
  color: #2f2d13;
}

footer {
  background-color: #ffe500;
  margin: -1rem;
  padding: .2em .5em .3em;
}

.footer {
  margin: 1rem;
  text-align: center;
}

figure {
  width: auto;
  text-align: left;
  margin: inherit;
  margin-bottom: 2em;
  padding: 1em;
}

.caption {
  padding-top: 1em;
}
